.videogameDetail{
    width: 100%; 
    height: 100%;
    overflow:auto;
    background-repeat:no-repeat;
    background-size: cover;
    background-color: black;
    color :white;
    font-size: 85%;
    /* height: 100%;
    margin: 0;
    overflow:auto;
    background-repeat:no-repeat;
    background-size: cover; */
}

.backImg{
    overflow:auto;    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.arrowDetail{
    width: 100%;
    background-color: aliceblue;
    filter: grayscale(100%);
    filter:brightness(0.8);
}
.goBackHome{
    all:unset;
   background-image: url('img/goBack.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 36px 36px;
   border: 1.9px solid white ;
   cursor: pointer;
    margin: 2%;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    background-color: rgb(110, 103, 103,0.3);
    filter:brightness(0.6);
}
.btnContDetail{     
    width: 10%;
    align-items: left;
    
}

.goBackHome:hover{
    filter: none;

}

.detailGameTitle{
   
    text-align: center;
    vertical-align: middle;
    text-shadow: 5px 5px #111111;
    text-transform: uppercase;
   font-size: 200%;
    background-image: url('./img/titleContainer.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
}
.detailPlatCont{
    width: 27%;
    height: 20%;
    background-image: url('./img/platformsCont.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    grid-template-columns: 40% 60%;
}
.detPlatformIcon{
    margin-left: 50%;
    background-image: url('./img/platformsIcon.png');
    background-repeat: no-repeat;
    background-size: 80% 70%;
}
.detPlatNa{
    margin-top: 4%;
    text-align: left;
}
.releasedDetCont{
    width: 18%;
    height: 6%;
    background-image: url('./img/platformsCont.png');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: grid;
    vertical-align: middle;
    font-size: 120%;
}
.ratingDetCont{
    width: 19%;
    height: 18%;
    
}
.starspining{
    margin-left: 30%;
    width: 50%;
    height: 70%;
    filter: drop-shadow(10px 5px 4px #1b1b1b);
    background-image: url('./img/star.gif');
    background-repeat: no-repeat;
    background-size: 100% 100%;

}
.ratingNumbDe{
    background: linear-gradient(to bottom, #cfc09f 22%,#634f2c 24%, #cfc09f 26%, #cfc09f 27%,#ffecb3 40%,#3a2c0f 78%); 
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #fff;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    position: relative;
	text-transform: uppercase;		
	margin: 0;
	font-weight: bold;
    
    font-size: 250%;
   
}


.firstPage{
    
    display: grid;
    grid-template-columns: 80% 20%;
}

.detailGen{
    margin-top: 1%;
    width: 90%;
    height: 20%; 
}
.deNameGenre{
    -webkit-text-stroke: 0.5px black;
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.deGenreNameContainer{
    backdrop-filter: blur(25px);
    border-right: 3px solid rgb(214, 204, 204);
    border-top: 3px solid rgb(214, 204, 204);
    border-bottom: 3px solid rgb(214, 204, 204);
    width:50%;
    height: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    margin-right: 0%;
    margin-top: 8%;
    margin-left: 30%;
    position: absolute;
    
}
.deGenres{
    
    width: 100%;
    height: 18%;
    position: relative
}
.deRombo{
    backdrop-filter: blur(25px);
    background-color: rgba(0, 0, 0, 0.5);
    margin: 15px 30px 15px 30px;
    width: 22%; 
    height: 50%; 
    border: 3px solid rgb(214, 204, 204);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    position: absolute;
}

.detailGenIcon{    
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-position: center;
    transform: rotate(-45deg);
    display: grid;
    align-items: center;
    vertical-align: middle;
}
.deGenBack1{
    background-image: url('./img/action.png');
}
.deGenBack2{
    background-image: url('./img/indie.png');
}
.deGenBack3{
    background-image: url('./img/adventure.png');
}
.deGenBack4{
    background-image: url('./img/RPG.png');
}
.deGenBack5{
    background-image: url('./img/strategy.png');
}
.deGenBack6{
    background-image: url('./img/shooter.png');
}
.deGenBack7{
    background-image: url('./img/casual.png');
}
.deGenBack8{
    background-image: url('./img/simulation.png');
}
.deGenBack9{
    background-image: url('./img/puzzle.png');
}
.deGenBack10{
    background-image: url('./img/arcade.png');
}
.deGenBack11{
    background-image: url('./img/platformer.png');
}
.deGenBack12{
    background-image: url('./img/racing.png');
}
.deGenBack13{
    background-image: url('./img/massivelyMultiplayer.png');
}
.deGenBack14{
    background-image: url('./img/sports.png');
}
.deGenBack15{
    background-image: url('./img/fighting.png');
}
.deGenBack16{
    background-image: url('./img/family.png');
}
.deGenBack17{
    background-image: url('./img/boardGames.png');
}
.deGenBack18{
    background-image: url('./img/educational.png');
}
.deGenBack19{
    background-image: url('./img/card.png');
}

.deDescripCont{
    padding-top: 5%;
    margin-left: 59%;
    margin-top: 5%;
    width: 53%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: 80% 80%;
    background-image: url('./img/descriptionCont.png');
    
}
.secondPage{
    overflow: hidden;
}

.textDes{
    
    margin-left: 10%;
    width: 50%;
}
.dgtv2{
    font-size: 10px;
  }
.dpv2{
    font-size: 6px;
}
.ddv2{
    height: 70%;
}
.dgn{
    font-size: 7px;
}
.dgnc{
    margin-left: 60% ;
    width: 21px;
    margin-top: 22%;
}